@import 'tailwindcss';

@theme {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}
html,
body,
#root {
  height: 100%;
}

body {
  background: linear-gradient(45deg, #e6e2df 80%, #c2c1bd 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
